$temp1-page-bg: #f2f2f2;
$temp1-page-fg: #777777;
$temp1-canvas-bg: #ffffff;
$temp1-logo: #222222;
$temp1-gray: #7b787a;
$temp1-link-gray: #999999;

$temp1-topbar-background: #ffffff;
$temp1-topbar-link: $temp1-link-gray;
$temp1-topbar-drop-background: #f2f2f2;
$temp1-topbar-drop-link: $temp1-link-gray;
$temp1-topbar-label: $temp1-link-gray;
